---
- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ ansible_distribution }}.yml"

- name: Include tasks for specific OS
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"

- name: Include common tasks
  ansible.builtin.include_tasks: common.yml
